@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-font: :"DM Sans", sans-serif;
  --secondary-font: "Urbanist", sans-serif;
  --primary-color: #FF5F1F;
  --secondary-color: #FFE5B4;
  --light-color: #fff;
  --text-color: #36454F;
  --text-color-2: #899499;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  font-family: var(--secondary-font);
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

header .nav_container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px;
}

.modal_btn{
  display: none;
}

header .nav_container .logo_container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .nav_container .logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


header .nav_container .logo_container .logo {
  width: 50px;
}

header .nav_container .logo_container h3 {
  font-size: 15px;
}

header .nav_container .menu_container {
  width: 100%;
}

header .nav_container .menu_container .menu_list {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

header .nav_container .menu_container .menu_list button{
  display: none;
}

header .nav_container .menu_container .menu_list li {
  list-style: none;
}

header .nav_container .menu_container .menu_list li a {
  font-weight: 600;
  transition: all .3s ease-in-out;
}

header .nav_container .menu_container .menu_list li a:hover {
  color: var(--primary-color);
}

header .nav_container .btn_container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

header .nav_container button {
  padding: 10px 20px;
  outline: none;
  border: none;
  font-family: var(--primary-font);
  font-weight: 500;
  cursor: pointer;
}

header .nav_container .login_btn {
  background: var(--secondary-color);
  color: var(--primary-color);
  transition: all 0.3s linear;
}

header .nav_container .login_btn:hover {
  background: var(--primary-color);
  color: var(--light-color);
}

header .nav_container .signup_btn {
  background: var(--primary-color);
  color: var(--light-color);
  transition: all 0.3s linear;
}

header .nav_container .signup_btn:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.hero_section .hero_container {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hero_section .hero_container .hero_swiper_container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  cursor: grab;
}

.hero_section .hero_container .col:nth-child(1) {
  width: 70%;
  overflow: hidden;
}

.hero_section .hero_container .col:nth-child(2) {
  width: 30%;
}

.hero_swiper_container .slider_container {
  position: relative;
}

.hero_swiper_container .slider_container .text_container {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 100%;
  max-width: 450px;
}

.hero_swiper_container .slider_container .text_container h5 {
  color: var(--primary-color);
}

.hero_swiper_container .slider_container .text_container h1 {
  font-size: clamp(1.2em, 3vw, 2em);
  font-weight: bold;
  font-family: var(--primary-font);
  padding: 15px 0;
}

.hero_swiper_container .slider_container .text_container h3 {
  font-weight: 400;
  font-size: clamp(1em, 1.5vw, 2em);
  padding: 10px 0px;
}

.hero_swiper_container .slider_container .text_container p {
  font-weight: 400;
  font-size: 10px;
  padding: 5px 0;
}

.hero_swiper_container .slider_container .text_container .btn_container {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.hero_swiper_container .slider_container .text_container .btn_container button {
  width: 100% !important;
  height: 40px;
  outline: none;
  font-family: var(--primary-font);
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.hero_swiper_container .slider_container .text_container .btn_container button.order_btn {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--light-color);
}

.hero_swiper_container .slider_container .text_container .btn_container button.order_btn:hover {
  background: transparent;
  border: 2px solid var(--primary-color);
  color: var(--text-color);
}

.hero_swiper_container .slider_container .text_container .btn_container button.explore_btn {
  background: transparent;
  border: 1px solid var(--primary-color);
}

.hero_swiper_container .slider_container .text_container .btn_container button.explore_btn:hover {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--light-color);
}


.hero_container_2 {
  width: 100%;
  height: 100%;
  background: url(../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.hero_container_2 .row {
  width: 90%;
  height: 100%;
}

.hero_container_2 .book_swiper_container {
  width: 80%;
  height: 100%;
  overflow: hidden;
  padding: 60px 5px;
  margin: 0 auto;
  cursor: grab;
}

.hero_container_2 .book_swiper_container .img_container {
  width: 70%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
}

.hero_container_2 .book_swiper_container .img_container img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: contain;
  display: block;
}

.hero_container_2 .row h1 {
  color: var(--light-color);
}

.hero_container_2 .row p {
  color: var(--light-color);
  opacity: 0.8;
  font-size: 10px;
  font-style: italic;
}

.hero_container_2 .col:nth-child(2) {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero_container_2 .book_swiper_container .text_container {
  padding: 10px 0;
}

.hero_container_2 .book_swiper_container .text_container h1 {
  font-size: 14px;
  padding: 10px 0;
}

.hero_container_2 .book_swiper_container .text_container button {
  background-color: var(--light-color);
  padding: 10px;
  width: 100%;
  outline: none;
  border: 1px solid var(--light-color);
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-family: var(--primary-font);
  border-radius: 5px;
  font-weight: 500;
}

.hero_container_2 .book_swiper_container .text_container button:hover {
  background-color: transparent;
  border: 1px solid var(--light-color);
  color: var(--light-color);
}

.features_section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.features_section .features_container {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.features_section .features_container .col {
  flex: 1;
}

.features_section .features_container .col .content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.features_section .features_container .col .content .icon_container {
  padding: 20px;
  background: var(--secondary-color);
  border-radius: 10px;
}

.features_section .features_container .col .content .text_content_container h1 {
  font-size: clamp(1.2em, 1.5vw, 2em);
}

.features_section .features_container .col .content .text_content_container p {
  font-size: 13px;
  padding: 13px 0;
  color: var(--text-color-2);
}


.features_section .features_container .col .content .icon_container i {
  color: var(--primary-color);
  font-size: 20px;
}

.trending_section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trending_section .trending_container {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
}

.trending_section .trending_container .col {
  width: 50%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.trending_section .trending_container .col:nth-child(1) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 246%2c 239%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c443.891C88.303%2c454.565%2c181.983%2c447.643%2c257.955%2c401.386C334.698%2c354.66%2c371.504%2c267.97%2c416.582%2c190.247C466.501%2c104.177%2c559.161%2c19.64%2c535.396%2c-76.978C511.263%2c-175.09%2c388.45%2c-207.434%2c304.819%2c-264.127C242.223%2c-306.561%2c178.466%2c-340.149%2c107.73%2c-366.894C31.161%2c-395.844%2c-43.452%2c-427.516%2c-125.307%2c-426.756C-227.221%2c-425.81%2c-347.611%2c-435.924%2c-417.79%2c-362.017C-487.825%2c-288.262%2c-453.684%2c-167.976%2c-466.807%2c-67.117C-479.718%2c32.115%2c-545.693%2c139.883%2c-494.261%2c225.722C-442.189%2c312.629%2c-313.452%2c302.607%2c-220.767%2c343.519C-145.284%2c376.837%2c-81.913%2c433.99%2c0%2c443.891' fill='%23ffbe8c'%3e%3c/path%3e%3cpath d='M1440 1116.009C1558.57 1111.88 1684.782 1159.897 1788.442 1102.187 1893.594 1043.646 1945.461 922.894 1988.65 810.56 2029.892 703.29 2064.589 584.676 2029.481 475.245 1995.975 370.80600000000004 1870.017 331.86 1806.406 242.50799999999998 1732.767 139.07100000000003 1749.931-45.26099999999997 1629.753-86.23800000000006 1511.204-126.65899999999999 1411.11 19.83000000000004 1295.6399999999999 68.35399999999998 1196.607 109.971 1085.098 113.293 999.741 178.51299999999998 901.703 253.423 778.206 341.294 776.964 464.67 775.699 590.357 942.185 649.1659999999999 993.8489999999999 763.75 1045.9189999999999 879.235 976.178 1048.509 1075.604 1127.011 1172.952 1203.8719999999998 1316.042 1120.326 1440 1116.009' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trending_section .trending_container .col:nth-child(2) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(231%2c 241%2c 251%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c443.891C88.303%2c454.565%2c181.983%2c447.643%2c257.955%2c401.386C334.698%2c354.66%2c371.504%2c267.97%2c416.582%2c190.247C466.501%2c104.177%2c559.161%2c19.64%2c535.396%2c-76.978C511.263%2c-175.09%2c388.45%2c-207.434%2c304.819%2c-264.127C242.223%2c-306.561%2c178.466%2c-340.149%2c107.73%2c-366.894C31.161%2c-395.844%2c-43.452%2c-427.516%2c-125.307%2c-426.756C-227.221%2c-425.81%2c-347.611%2c-435.924%2c-417.79%2c-362.017C-487.825%2c-288.262%2c-453.684%2c-167.976%2c-466.807%2c-67.117C-479.718%2c32.115%2c-545.693%2c139.883%2c-494.261%2c225.722C-442.189%2c312.629%2c-313.452%2c302.607%2c-220.767%2c343.519C-145.284%2c376.837%2c-81.913%2c433.99%2c0%2c443.891' fill='%238cbcec'%3e%3c/path%3e%3cpath d='M1440 1116.009C1558.57 1111.88 1684.782 1159.897 1788.442 1102.187 1893.594 1043.646 1945.461 922.894 1988.65 810.56 2029.892 703.29 2064.589 584.676 2029.481 475.245 1995.975 370.80600000000004 1870.017 331.86 1806.406 242.50799999999998 1732.767 139.07100000000003 1749.931-45.26099999999997 1629.753-86.23800000000006 1511.204-126.65899999999999 1411.11 19.83000000000004 1295.6399999999999 68.35399999999998 1196.607 109.971 1085.098 113.293 999.741 178.51299999999998 901.703 253.423 778.206 341.294 776.964 464.67 775.699 590.357 942.185 649.1659999999999 993.8489999999999 763.75 1045.9189999999999 879.235 976.178 1048.509 1075.604 1127.011 1172.952 1203.8719999999998 1316.042 1120.326 1440 1116.009' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trending_section .trending_container .col .content_container {
  padding: 20px 0;
}

.trending_section .trending_container .col .content_container .img_container img {
  width: 100%;
  height: 100%;
}

.trending_section .trending_container .col .content_container .img_container {
  border-radius: 10px;
  overflow: hidden;
  cursor: grab;
}

.trending_section .trending_container .col .content_container {
  width: 100%;
}

.trending_section .trending_container .col .title_container h1 {
  padding: 20px 0;
  font-family: var(--primary-font);
}

.trending_section .trending_container .col .title_container p {
  font-size: 10px;
  color: var(--text-color-2);
}


.special_offers_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
}

.special_offers_section .special_offers_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  height: 100%;
}

.title_container {
  padding: 10px 0px;
}

.title_container h4 {
  font-size: 10px;
  color: var(--primary-color);
}

.title_container h1 {
  font-size: clapm(1.2em, 3vw, 2em);
}

.title_container p {
  font-size: 12px;
  color: var(--text-color-2);
  font-style: italic;
  padding: 10px 0px;
}


.special_offers_section .special_offers_container .content_container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.product_card .img_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  background: var(--text-color-2);
  box-shadow: rgba(50, 50, 93, 0.25)0px 2px 5px 1px, rgba(0, 0, 0, 0.3) 0px 1px 3px 1px;
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 0px; */
}

.product_card .img_container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  max-height: 450px;
  transition: all .5s ease-in-out;
}

.product_card .img_container:hover img {
  scale: 1.1;
  rotate: 3deg;
}

.product_card .text_container {
  padding: 10px 0px;
}

.product_card .text_container h1 {
  font-size: clamp(1em, 2vw, 2em);
  transition: all .3s ease-in-out;
}

.product_card:hover h1 {
  color: var(--primary-color);
}

.product_card .text_container h3 {
  font-size: 13px;
  font-weight: 400;
  color: var(--text-color-2);
}

.product_card .text_container .col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.product_card .text_container .col .price {
  font-size: 15px;
}

.product_card .text_container .col .ratings p {
  color: var(--primary-color);
  font-weight: bold;
}

.product_card .text_container .col .ratings i {
  color: var(--primary-color);
  font-weight: bold;
}

.flash_section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.flash_section .flash_container {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flash_section .flash_container .content_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 0px;
}

.videw_more {
  background-color: var(--text-color);
  padding: 10px 20px;
  color: var(--light-color);
  font-family: var(--primary-font);
  border: 1px solid var(--text-color);
  outline: none;
  transition: all .3s ease;
  cursor: pointer;
}

.videw_more:hover {
  background-color: var(--text-color-2);
  border: 1px solid var(--text-color-2);
}

.books_on_sales_section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.books_on_sales_section .books_on_sales_container {
  width: 90%;
  height: 100%;
}

.books_on_sales_section .books_on_sales_container .product_card .img_container {
  width: 85%;
}

.books_on_sales_section .books_on_sales_container .product_card .img_container img {
  max-height: 320px;
}

.books_on_sales_section .books_on_sales_container .product_card .text_container h1 {
  font-size: 18px;
}

.books_on_sales_section .books_on_sales_container .product_card {
  width: 200px;
}

.new_launch_section {
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
}

.new_launch_section .new_launch_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.new_launch_section .new_launch_container .col {
  flex: 1;
}

.new_launch_section .new_launch_container .col .img_container {
  width: 100%;
  height: 100%;
}

.new_launch_section .new_launch_container .col .img_container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.new_launch_section .new_launch_container .col .buy_now {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: 1px solid var(--primary-color);
  transition: all .3s ease-in-out;
  font-family: var(--primary-font);
  font-weight: bold;
  padding: 10px 30px;
  margin: 20px 0;
  cursor: pointer;
}

.new_launch_section .new_launch_container .col .buy_now:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.featured_books_section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: var(--secondary-color);
}

.featured_books_section .featured_books_container {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.featured_books_section .featured_books_container .col {
  flex: 1;
}

.featured_books_section .featured_books_container .col .featured_book {
  width: 100%;
  height: 100%;
}


.featured_books_section .featured_books_container .col .featured_book .row {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  background-color: var(--light-color);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.featured_books_section .featured_books_container .col .featured_book .row .left {
  flex: 1;
}

.featured_books_section .featured_books_container .col .featured_book .row .right {
  flex: 2;
}

.featured_books_section .featured_books_container .col .featured_book .row .left .img_container {
  width: 100%;
  height: 100%;
}

.featured_books_section .featured_books_container .col .featured_book .row .left .img_container img {
  width: fit-content;
  height: 100%;
  display: block;
  object-fit: contain;
  border-radius: 10px;
  max-height: 320px;
}

.featured_books_section .featured_books_container .col .featured_book .row .right .text_container h1 {
  padding: 10px 0;
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 20px;
}

.featured_books_section .featured_books_container .col .featured_book .row .right .text_container .genere {
  color: var(--primary-color);
  font-size: 14px;
}

.synopsis_container {
  padding: 10px 0;
}

.synopsis_container h2 {
  font-size: 14px;
  padding: 10px 0;
}

.synopsis_container p {
  font-size: 12px;
  color: var(--text-color-2);
}

.synopsis_container .synopsis_row {
  width: 100%;
  padding: 20px 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.synopsis_container .synopsis_row .col h4 {
  padding: 10px 0;
}

.synopsis_container .synopsis_footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.synopsis_container .synopsis_footer .price {
  font-weight: bold;
  font-size: 18px;
}

.synopsis_container .synopsis_footer strike {
  font-weight: 400;
  color: var(--text-color-2);
  font-size: 14px;
}

.synopsis_container .synopsis_footer .cart_btn {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 10px 20px;
  outline: none;
  font-family: var(--primary-font);
  border-radius: 5px;
  transition: all .5s linear;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.synopsis_container .synopsis_footer .cart_btn:hover {
  opacity: 0.8;
}

.books_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.books_grid .img_container {
  width: 100%;
  height: 100%;
}

.books_grid .img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  cursor: pointer;
}

.testimonials_section{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.testimonials_section .title_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimonials_section .testimonials_container{
  width: 90%;
  height: 100%;
}

.testimonials_section .testimonials_container .content{
  padding: 20px 0px;
}

.testimonials_section .testimonials_container .content .TestimonialsSwiper{
  padding: 20px 0px;
}

.testimonials_section .testimonials_container .content .TestimonialsSwiper .swiper-slide{
  scale: 0.8;
  opacity: 0.5;
}

.testimonials_section .testimonials_container .content .TestimonialsSwiper .swiper-slide.swiper-slide-active{
  scale: 1;
  opacity: 1;
}

.testimonial{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  border-radius: 10px;
  cursor: grab;
}

.testimonial .top h1{
  font-size: clamp(1em,1.5vw,2em);
  font-family: var(--primary-font);
  text-align: center;
  text-wrap: nowrap;
  text-transform: capitalize;
}

.testimonial .bottom{
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial .bottom .col{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.testimonial .bottom .col .img_container{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial .bottom .col .img_container img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.testimonial .bottom .col .text h3{
  font-size: 14px;
}

.testimonial .bottom .col .text p{
  font-size: 12px;
  color: var(--text-color-2);
}

.testimonial .bottom .col .start_container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.testimonial .bottom .col .start_container i{
  color: var(--primary-color);
}

.client_group_container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.client_group_container .img_container{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -15px;
  border: 3px solid var(--light-color);
}

.client_group_container .img_container img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.client_group_container .img_container .client_count{
  background-color: var(--primary-color);
  color: var(--light-color);
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 12px;
}

.blog_section{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog_section .blog_container{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blog_section .blog_container .content .row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.blog_section .blog_container .content .row .blog_card{
  padding: 10px;
  border-radius: 10px;
  max-width: 280px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}

.blog_section .blog_container .content .row .img_container img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.blog_section .blog_container .content .row .img_container .imgsecond{
  padding: 6px 0px;
}

.blog_section .blog_container .content .row .text_container{
  padding: 20px 5px;
}

.blog_section .blog_container .content .row .text_container h1{
  font-size: 0.9em;
  font-family: var(--primary-font);
}

.blog_section .blog_container .content .row .text_container p{
  font-size: 14px;
  padding: 10px 0px;
  color: var(--text-color-2);
}

.blog_section .blog_container .content .row .text_container button{
  background-color: var(--primary-color);
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  color: var(--light-color);
  outline: none;
  font-family: var(--primary-font);
  transition: all 0.5s linear;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.blog_section .blog_container .content .row .text_container button:hover{
  background-color: transparent;
  color: var(--primary-color);
}

.newsletter_section{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  margin-top: 50px;
}

.newsletter_section .newsletter_container{
  width: 100%;
  max-width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter_section .newsletter_container .newsletter_inner{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1101%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 95%2c 31%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c620.674C112.144%2c596.811%2c162.999%2c464.504%2c265.491%2c413.112C387.115%2c352.127%2c559.257%2c399.138%2c647.815%2c295.847C736.798%2c192.06%2c747.063%2c29.024%2c706.802%2c-101.623C668.072%2c-227.302%2c538.453%2c-294.254%2c439.329%2c-380.681C354.22%2c-454.889%2c271.101%2c-525.907%2c167.826%2c-571.564C51.876%2c-622.825%2c-70.853%2c-690.825%2c-193.989%2c-660.666C-318.212%2c-630.241%2c-407.818%2c-520.953%2c-477.277%2c-413.563C-540.863%2c-315.253%2c-554.38%2c-197.963%2c-568.441%2c-81.729C-582.201%2c32.023%2c-595.964%2c146.736%2c-558.138%2c254.893C-518.101%2c369.372%2c-451.042%2c477.52%2c-349.606%2c543.997C-247.758%2c610.744%2c-119.104%2c646.018%2c0%2c620.674' fill='%23fc4800'%3e%3c/path%3e%3cpath d='M1440 1045.267C1550.933 1067.017 1665 1114.4 1770.937 1074.9479999999999 1884.126 1032.796 1987.6680000000001 942.068 2025.3 827.297 2062.195 714.7719999999999 2004.204 596.154 1964.508 484.587 1931.341 391.37 1874.091 314.45799999999997 1814.6779999999999 235.33999999999997 1750.614 150.02800000000002 1702.3899999999999 43.34100000000001 1603.358 3.6549999999999727 1501.704-37.08100000000002 1386.345-11.341999999999985 1281.992 21.875 1179.319 54.55799999999999 1092.786 117.30099999999999 1014.329 191.154 928.448 271.995 808.542 351.055 807.003 468.98900000000003 805.444 588.479 934.2370000000001 662.931 1006.934 757.775 1062.401 830.139 1107.1680000000001 909.2719999999999 1183.129 959.6990000000001 1259.873 1010.646 1349.606 1027.5439999999999 1440 1045.267' fill='%23ff7841'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1101'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 20px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.newsletter_section .newsletter_container .newsletter_inner h1{
  padding: 20px 0;
  color: var(--light-color);
}

.newsletter_section .newsletter_container .newsletter_inner .input_container{
  padding: 20px 0px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 80%;
}

.newsletter_section .newsletter_container .newsletter_inner .input_container input[type="email"]{
  width: 100%;
  height: 40px;
  padding: 10px;
  outline: none;
  background: #ffffff76;
  border: none;
  border-radius: 5px 0 0 5px;
  color: var(--light-color);
  font-family: var(--primary-font);
}

.newsletter_section .newsletter_container .newsletter_inner .input_container input[type="email"]::placeholder{
  color: var(--light-color);
  font-family: var(--primary-font);
}

.newsletter_section .newsletter_container .newsletter_inner .input_container button{
  background-color: var(--light-color);
  border: none;
  outline: none;
  height: 40px;
  padding: 0px 20px;
  border-radius: 0px 5px 5px 0px;
  font-family: var(--primary-font);
  font-weight: bold;
  transition: all .5s ease;
  cursor: pointer;
}

.newsletter_section .newsletter_container .newsletter_inner .input_container button:hover{
  background-color: var(--text-color);
  color: var(--light-color);
}

footer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer .footer_container{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

footer .footer_container .col{
  flex: 1;
}

footer .footer_container .col:nth-child(1){
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

footer .footer_container .col:nth-child(1) .about_container{
  font-size: 12px;
  color: var(--text-color-2);
  padding: 20px 0;
}

footer .footer_container .logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer .footer_container .logo_container .logo {
  width: 50px;
}

footer .footer_container .logo_container h3 {
  font-size: 15px;
}

footer .footer_container .menu_container ul li {
  list-style: none;
  padding: 5px 0;
}

footer .footer_container .menu_container ul li a{
  font-weight: 500;
  transition: all .5s ease;
}

footer .footer_container .menu_container ul li a:hover{
  color: var(--primary-color);
}

footer .footer_container .menu_container h1 {
  font-size: clamp(1em, 1.5vw,2em);
  padding: 10px 0;
}

footer .footer_container .map_container{
  border-radius: 10px;
  overflow: hidden;
}

footer .footer_container .map_container iframe{
  width: 100%;
  height: 100%;
}

footer .adress_container{
  padding: 20px 5px;
}

footer .adress_container ul li{
  color: var(--text-color-2);
  font-style: italic;
  font-size: 14px;
}

.social_container .social_row{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 10px 0;
}

.social_container h3{
  font-size: clamp(1em,1.5vw,2em);
}

.social_container .social_row button{
  border: 1px solid rgba(211, 211, 211, 0.52);
  padding: 15px;
  background-color: transparent;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.social_container .social_row button:hover{
  background-color: var(--primary-color);
  color: var(--light-color);
}

.social_container .social_row button:hover i{
  color: var(--light-color);
}

.social_container .social_row button i{
  font-size: 20px;
}

.copy_right_container{
  width: 90%;
  border-top: 1px solid var(--text-color-2);
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy_right_container .col{
  flex: 1;
}

.copy_right_container .col:nth-child(2){
  text-align: right;
}

.fa-heart-pulse{
  color: red;
}